@import "foundation";
@include foundation-grid;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-text-alignment;
@include foundation-print-styles;

.gomo-facts-text {
  @include breakpoint(medium up) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule-style: none;
    -moz-column-rule-style: none;
    column-rule-style: none;
  }
}

.gomo-answers {
  font-size: rem-calc(20px);
  @include breakpoint(small only) {
    padding-left: 20px;
    padding-bottom: 50px;
  }
  @include breakpoint(medium up) {
    padding-left: 45%;
  }
}

.gomo-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.gomo-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.gomo-map {
  height: 300px;
  width: 100%;
  @include breakpoint(small only) {
    text-align: center;
  }
  @include breakpoint(medium up) {
    padding-left: 20%;
  }
}

.gomo-facts {
  @include breakpoint(small only) {
    padding-left: 20px;
  }
}
